header {
    height: 60px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position: fixed;
    top: 0;

    z-index: 10;
}

.header-left {
    color: skyblue;
    float: left;
}

.header-right {
    float: right;
}

.header-right a {
    float: left;
    padding: 35px 10px 0px 10px;
    color: white;
    display: block;
    transition: all 0.5s;
}


.header-right a:hover {
    color: aqua;
}


body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.top-wrapper {
    padding: 180px 0 120px 0;
    background-image: url(images/top.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.btn-wrapper {
    margin-top: 20px;
}

.twitter {
    background-color: #55acee;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    transition: all 0.5s;
}

.btn:hover {
    opacity: 1;
}

.section-title {
    text-align: center;
    color: darkblue;

    padding-top: 60px;
}

.fa {
    margin-right: 5px;
}

.profile p {
    line-height: 10px;
}

.skill-set-tabel {
    width: 800px;
    padding: 0 15px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.skill-set-tabel table {
    width: 100%;
    border-collapse: collapse;
}

.skill-set-tabel table tr {
    border-bottom: solid 2px white;
}

.skill-set-tabel table tr:last-child {
    border-bottom: none;
}

.skill-set-tabel table th {
    position: relative;
    text-align: left;
    width: 20%;
    background-color: skyblue;
    color: blue;
    text-align: center;
    padding: 10px 0;
}

.skill-set-tabel table th:after {
    display: block;
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: calc(50% - 10px);
    right: -10px;
    border-left: 10px solid skyblue;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.skill-set-tabel table tr *:nth-child(2) {
    text-align: left;
    width: 30%;
    text-align: center;
    background-color: lightcyan;
    padding: 10px 0;
}

.skill-set-tabel table tr *:nth-child(3) {
    text-align: left;
    width: 50%;
    text-align: center;
    background-color: #eef;
    padding: 10px 0;
}

.skill-set-tabel img {
    width: 35px;
}

.work-container {
    width: 800px;
    margin: 0 auto;
}

.acd-check {
    display: none;
}

.acd-label {
    background: skyblue;
    color: blue;
    font-weight: bold;
    display: block;
    margin-bottom: 1px;
    padding: 10px;
}

.acd-content {
    border: 1px solid blue;
    height: 0;
    background-color: lightcyan;
    color: blue;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}

.acd-check:checked+.acd-label+.acd-content {
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

.work-table {
    width: 700px;
    margin: 3px auto;
    text-align: left;
    border-collapse: collapse;
}

.work-table table,
.work-table td,
.work-table th {
    border-bottom: 1px solid black;
}

.work-table table {
    border-collapse: collapse;
}

.work-table th {
    width: 20%;
}

.work-table img {
    width: 70px;
}

footer {
    height: auto;
    width: 100%;
    background-color: rgb(34, 49, 52);
    color: skyblue;
    text-align: center;
    margin-top: 50px;
    padding: 10px;
}

.copyright {
    margin-top: 40px;
}